[Unit]
Description=BadVPN UDPGW on port %i
After=network.target

[Service]
ExecStart=/usr/bin/badvpn-udpgw --listen-addr 127.0.0.1:%i --max-clients 500
Restart=always
User=nobody
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
